<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sudoku Helper</title>
    <meta charset="UTF-8"
          content="text/html" http-equiv="Content-Type"/>
    <link href="https://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          media="screen"
          rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link href="../../static/css/style.css"
          rel="stylesheet"
          th:href="@{/css/style.css}"/>
</head>

<body>


<div class="container">

    <div>
        <h2>Aplikacja do rozwiązywania sudoku</h2>
    </div>

    <h3 th:if="${message != null}" th:text="${message}">
    </h3>

    <div>
        <h3>Wprowadź 81 znaków rozdzielonych przecinkami</h3>
    </div>

    <form method="post" th:action="@{/text}">
        <div class="row">
            <div class="col">
                <textarea name="input" th:text="${fromForm}"></textarea>
            </div>
            <div class="col">
                <button class="btn btn-success" type="submit">Wyślij tekst</button>
            </div>
        </div>
    </form>

    <form method="post" th:action="@{/verifyString}">
        <div class="row" >
            <div class="col">
                <textarea name="input" th:text="${fromForm}" th:hidden="tag"></textarea>
            </div>
            <div class="col">
                <button class="btn btn-danger" type="submit">Sprawdź czy poprawny</button>
            </div>
        </div>

    </form>

    <div>
        <h3>Wprowadź dane do formularza</h3>
    </div>

    <form method="post" th:action="@{/array}">
        <div th:each="i : ${#numbers.sequence( 0, 8)}" th:remove="tag">
            <div class="row">
                <div th:each="j: ${#numbers.sequence( 0, 8)}" th:remove="tag">
                    <div class="col">
                        <input th:class="${style[i][j]+ ' form-control'}" th:id="'rows'+${i}+${j}" th:name="'rows[]'"
                               th:type="text" th:value="${possibleOptions[i][j]}">
                    </div>
                    <div class="col" th:if="${j % 3 == 2}">&nbsp;
                    </div>
                </div>
            </div>
            <div class="row" th:if="${i % 3 == 2}">
                <div class="col">&nbsp;
                </div>

            </div>
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>

    <div th:each="i : ${#numbers.sequence( 0, 8)}" th:remove="tag">
        <div class="row">
            <div th:each="j: ${#numbers.sequence( 0, 8)}" th:remove="tag">
                <div th:if="${possibleOptions[i][j].length() == 1}" th:text="${possibleOptions[i][j] + ','}" th:remove="tag">
                </div>
                <div th:unless="${possibleOptions[i][j].length() == 1}" th:text="${'x,'}" th:remove="tag">
                </div>
            </div>
        </div>
    </div>

    <div th:if="${sudoku.getOptionsRows().size()>0}">
        <p>Opcje wierszy</p>
        <div class="col" th:each="option,i : ${sudoku.getOptionsRows()}">
            <div class="col" th:text="${'Wiersz ' + i.index +' '+ option}">
            </div>
        </div>
    </div>

    <div th:if="${sudoku.getOptionsColumns().size()>0}">
        <p>Opcje kolumn</p>
        <div class="col" th:each="option,i : ${sudoku.getOptionsColumns()}">
            <div class="col" th:text="${'Kolumna ' + i.index +' '+ option}">
            </div>
        </div>
    </div>

    <div th:if="${sudoku.getOptionsFields().size()>0}">
        <p>Opcje pól</p>
        <div class="col" th:each="option,i : ${sudoku.getOptionsFields()}">
            <div class="col" th:text="${'Pole ' + i.index +' '+ option}">
            </div>
        </div>
    </div>

</div>


</body>
</html>